<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{241.0,615.0}</string>
        <key>name</key>
        <string>hero1</string>
        <key>textureFileName</key>
        <string>hero1.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>hero1_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{105.0,128.0}</string>
            <key>spriteOffset</key>
            <string>{6.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{128.0,128.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{18.0,0.0},{105.0,128.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,362.0},{105.0,128.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>hero1_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{119.0,128.0}</string>
            <key>spriteOffset</key>
            <string>{4.5,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{128.0,128.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{9.0,0.0},{119.0,128.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,232.0},{119.0,128.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>hero1_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128.0,108.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,5.0}</string>
            <key>spriteSourceSize</key>
            <string>{128.0,128.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,5.0},{128.0,108.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{109.0,362.0},{128.0,108.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>hero1_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{124.0,119.0}</string>
            <key>spriteOffset</key>
            <string>{2.0,-3.5}</string>
            <key>spriteSourceSize</key>
            <string>{128.0,128.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{4.0,8.0},{124.0,119.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,492.0},{124.0,119.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
