<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>metadata</key>
    <dict>
        <key>version</key>
		<string>2.0.2</string>
        <key>format</key>
        <integer>3</integer>
        <key>size</key>
        <string>{608.0,234.0}</string>
        <key>name</key>
        <string>hero</string>
        <key>textureFileName</key>
        <string>hero.png</string>
    </dict>
    <key>frames</key>
    <dict>
        <key>hero_0.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{107.0,108.0}</string>
            <key>spriteOffset</key>
            <string>{-3.5,-2.0}</string>
            <key>spriteSourceSize</key>
            <string>{128.0,128.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,12.0},{107.0,108.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{362.0,104.0},{107.0,108.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>hero_1.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{119.0,101.0}</string>
            <key>spriteOffset</key>
            <string>{-4.5,-3.5}</string>
            <key>spriteSourceSize</key>
            <string>{128.0,128.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,17.0},{119.0,101.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{485.0,2.0},{119.0,101.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>hero_2.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{128.0,103.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,0.5}</string>
            <key>spriteSourceSize</key>
            <string>{128.0,128.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,12.0},{128.0,103.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{232.0,2.0},{128.0,103.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>hero_3.png</key>
        <dict>
            <key>spriteSize</key>
            <string>{121.0,100.0}</string>
            <key>spriteOffset</key>
            <string>{3.5,-1.0}</string>
            <key>spriteSourceSize</key>
            <string>{128.0,128.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{7.0,15.0},{121.0,100.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{362.0,2.0},{121.0,100.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
        <key>made-with-zwoptex</key>
        <dict>
            <key>spriteSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteOffset</key>
            <string>{0.0,-0.0}</string>
            <key>spriteSourceSize</key>
            <string>{228.0,228.0}</string>
            <key>spriteSourceColorRect</key>
            <string>{{0.0,0.0},{228.0,228.0}}</string>
            <key>spriteTrimmed</key>
            <true/>
            <key>textureRect</key>
            <string>{{2.0,2.0},{228.0,228.0}}</string>
            <key>textureRotated</key>
            <false/>
            <key>aliases</key>
            <array>
            </array>
        </dict>
    </dict>
</dict>
</plist>
